{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
  <p id="name" style="display:none">{{ name }}</p>
  <p id="page" style="display:none">{{ page }}</p>
  {{ wtf.quick_form(form) }}
  {% include 'paginate.html' %}
  <div class="grid">
    {% for entry in entries.items %}
      <div class="grid-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
            {% if entry.title %}{{ entry.title }}{% else %}无题{% endif %}
            </h3>
          </div>
          <div class="panel-body {{ entry.sender }}">
            <p class="info">由 {{ entry.sender }} 在 {{ moment(entry.time).fromNow() }} 发布</p>
            <p class="text">{{ entry.text|safe }}</p>
          </div>
          {% if entry.url %}<div class="postPicture"><img src="{{ url_for('static', filename = 'userdata/uploads/'+entry.url) }}"></div>{% endif %}
        </div>
      </div>
    {% endfor %}
   </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="//cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="//cdn.bootcss.com/masonry/4.1.0/masonry.pkgd.min.js"></script>
  <script src="//cdn.bootcss.com/jquery.imagesloaded/4.1.0/imagesloaded.pkgd.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/tips.js')}}"></script>
{% endblock %}